{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}
 
{% block content%}
  <P class="display-4"> {{products.0.category }}</P>
  <div class="d-flex">
  {% for product in products %}
  <div class="card text-white bg-dark mb-3 m-3" >
    <div class="card-header">{{product.name}}-{{product.user}}</div>
    <div class="card-body">
      <h4 class="card-title">{{ product.price }}</h4>
      <img style="width:250px;" src="{{ product.image.url }}" alt="">
      <p class="card-text">{{ product.description }}</p>
      <a href="{% url 'edit' product.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete' product.id %}" class="btn btn-danger">Delete</a>

    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}